body{
    background-color: #f1eee3;
    font-family: "Lato", arial, verdana;
    color: #505050;
}

h1, h2, h3, h4, h5{
    font-family: "Lato", arial, verdana;
}

a{
    color: #505050;
    text-decoration: none;
}

ul.menu li {
    list-style-position: inside;
}

/*logo*/
.region-branding-inner{
    margin: 20px 0;
}


/*header menus */
.region-user-first-inner{
    margin: 20px 5px;
}

.region-user-first-inner ul.menu{
    float: right;
}

.region-user-first-inner ul.menu li{
    float: left;
    list-style-type: none;
    list-style-image: none;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;
    

}

.region-user-first-inner ul.menu li a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
        -moz-box-shadow: 3px 3px 5px #888;
-webkit-box-shadow: 3px 3px 5px #888;
box-shadow: 3px 3px 5px #888;
    
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.region-user-first-inner ul.menu li a:hover{
    background-color: #505050;
}

/* header contact */
.block-block-1 {
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

.block-block-1 a{
    color: #505050;
    text-decoration: none;
}

.block-block-1 a:hover{
    text-decoration: underline;
}



/*main nav */
#zone-menu-wrapper{
    background-color: #afbdb8;
}

#zone-menu .region-menu{
    border-left: 2px solid #f1eee3;
    border-right: 2px solid #f1eee3;
}

nav.navigation ul#main-menu{
    margin: 0;
    padding: 0;
}

nav.navigation ul#main-menu li{
    padding: 0;
    margin: 0;
}

nav.navigation ul#main-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
    padding: 12px 53px;
    border-right: 2px solid #f1eee3;
    
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

nav.navigation ul#main-menu li.last a{
    border: none;
}

nav.navigation ul#main-menu li a:hover,
nav.navigation ul#main-menu li.active a,
nav.navigation ul#main-menu li.active-trail a{
    background-color: #505050;
}


/*content */
/*hide breadcrumb on homepage */
.front .breadcrumb{
    display: none;
}


/*trio boxes */
.view-trio-boxes .views-row{
    float: left;
    margin: 20px 15px;
}

.view-trio-boxes .views-row-2{
    margin: 20px 25px;
}

.view-trio-boxes .views-field-field-trio-link a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    display: block;
    width: 280px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.view-trio-boxes .views-field-field-trio-link a:hover{
    background-color: #505050;
}

.view-trio-boxes .views-field-field-trio-link a span.trio-link{
    margin: 0 10px;
    background: url('../images/link.png') right center no-repeat;
    display: block;
}

.view-trio-boxes .views-field-field-trio-image img{
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.view-trio-boxes .views-field-field-trio-image img:hover{
    opacity: 0.5;
}


/*main content */
.region-content .region-inner.region-content-inner{
    padding: 0 15px;
}

/*page title and subtitle */
h1#page-title{

    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
}

.front h1#page-title{
        margin-bottom: 0;
}

.field-name-field-subtitle{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
}


/*footer */
#zone-footer-wrapper{
    background-color: #424c48;
}

#zone-footer{
    color: #fff;
}

#zone-footer a{
    color: #fff;
    text-decoration: none;
}

#zone-footer a:hover{
    text-decoration: underline;
}

#zone-footer ul.menu{
    margin: 20px 0;
}

.region-post-footer{
    text-align: center;
}