body{
    background: #f1eee3 url('../images/bg.png') repeat;
    font-family: "Lato", arial, verdana;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
    color: #505050;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", arial, verdana;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #7c8783;
    margin-bottom: 15px;
}
h3{font-size: 25px;}
h4{font-size: 21px;}
h5{font-size: 19px;}
h6{font-size: 17px;}


a:link, a:visited, li a.active{
    color: #7C8783;
    text-decoration: none;
    font-weight: normal;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

a:hover{
    color: #000;
    text-decoration: underline;
}

a img{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a img:hover{
    opacity: 0.5;
}

.breadcrumb a{
    text-decoration: none;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.breadcrumb a:hover{
    color: #721c0f;
    text-decoration: underline;
}

ul, ul.menu li, ol {
    list-style-position: inside;
}

button, input[type="reset"], input[type="submit"], input[type="button"]{
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: none;
    cursor: pointer;
    font-family: "Lato", arial, verdana;
    font-size: 13px;
    font-weight: bold !important;
    outline: 0;
    overflow: visible;
    text-shadow: none;
    width: auto;
    color: #fff !important;
    text-decoration: none;
    background: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #505050;
}



button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    -moz-box-shadow: #AFBDB8 0 0 7px;
    -webkit-box-shadow: #AFBDB8 0 0 7px;
    box-shadow: #AFBDB8 0 0 7px;
    z-index: 1;
}


/*text fields*/

textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #dddbd1;
    border: none;

    color: #505050;
    outline: 0;
    padding: 2px 5px;
    font-size: 15px;
    font-family: "Lato", arial, verdana;
    height: 38px;
}

.not-front select{
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #dddbd1;
    border: none;

    color: #505050;
    outline: 0;
    padding: 2px 5px;
    font-size: 15px;
    font-family: "Lato", arial, verdana;
    height: 38px;
    width: 455px;
}

textarea{
    height: 210px;
}

label{
    font-weight: normal;
    color: #7c8783;
    font-size: 20px

}


.form-item input.error, .form-item textarea.error, .form-item select.error{
    border: 1px solid #d0230b;
}

.marker, .form-required {
    color: #d0230b;
}


/*errors */
div.error{
    color: #d0230b;
    border-color: #d0230b;
    margin: 0 15px 15px 15px;
}

div.messages{
    margin: 0 15px 15px 15px;
    border: 1px solid #054b36;
    color: #054b36;

}

div.messages p{
    margin-bottom: 5px;

}

/*tabs*/
.front #tabs{
    margin: 0 15px 10px 15px;
}

#tabs{
    margin: 10px 0 0 0;
}




ul.primary {
    border:none;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.primary li a {
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
        -moz-box-shadow: 3px 3px 5px #888;
        -webkit-box-shadow: 3px 3px 5px #888;
        box-shadow: 3px 3px 5px #888;
    */
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    border: none;
}

ul.primary li.active a {
    background-color:#505050;
    border:none;
    display:inline-block;
}

ul.primary li a:hover {
    background-color: #505050;
    border: none;
}


/*logo*/
.region-branding-inner{
    margin: 20px 15px;
}


/*header menus */
.region-user-first-inner{
    margin: 20px 15px 20px 0;
}

.region-user-first-inner ul.menu{
    float: right;
}

.region-user-first-inner ul.menu li{
    float: left;
    list-style-type: none;
    list-style-image: none;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;


}

.region-user-first-inner ul.menu li a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
        -moz-box-shadow: 3px 3px 5px #888;
        -webkit-box-shadow: 3px 3px 5px #888;
        box-shadow: 3px 3px 5px #888;
    */
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.region-user-first-inner ul.menu li a:hover{
    background-color: #505050;
}

/* header contact */
.block-block-1 {
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

.block-block-1 a{
    color: #505050;
    text-decoration: none;
    font-weight: normal;
}

.block-block-1 a:hover{
    text-decoration: underline;
}



/*main nav */
#zone-menu-wrapper{
    background-color: #afbdb8;
}



nav.navigation ul#main-menu{
    margin: 0;
    padding: 0;
}

nav.navigation ul#main-menu li{
    padding: 0;
    margin: 0;
}

nav.navigation ul#main-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
    padding: 12px 53px;
    border-right: 2px solid #f1eee3;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

nav.navigation ul#main-menu li.last a{
    border: none;
}

nav.navigation ul#main-menu li a:hover,
nav.navigation ul#main-menu li.active a,
nav.navigation ul#main-menu li.active-trail a{
    background-color: #505050;
}



/*trio boxes */
.view-trio-boxes{
    display: none;
}

.view-trio-boxes .views-row{
    float: left;
    margin: 20px 15px;
}

.view-trio-boxes .views-row-2{
    margin: 20px 25px;
}

.view-trio-boxes .views-field-field-trio-link a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    display: block;
    width: 280px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.view-trio-boxes .views-field-field-trio-link a:hover{
    background-color: #505050;
}

.view-trio-boxes .views-field-field-trio-link a span.trio-link{
    margin: 0 10px;
    background: url('../images/link.png') right center no-repeat;
    display: block;
}

.view-trio-boxes .views-field-field-trio-image img{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.view-trio-boxes .views-field-field-trio-image img:hover{
    opacity: 0.5;
}


/*main content */
.region-content .region-inner.region-content-inner{
    padding: 0 15px;
}

/*page title and subtitle */
h1#page-title{

    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
}

.front h1#page-title{
    margin-bottom: 0;
}

.field-name-field-subtitle{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
}


/*footer */
#zone-footer-wrapper{
    background-color: #424c48;
    border-top: 2px solid #721c0f;
}

#zone-footer{
    color: #fff;
}

#zone-footer a{
    color: #fff;
    text-decoration: none;
}

#zone-footer a:hover{
    text-decoration: underline;
}

#zone-footer ul.menu{
    margin: 20px 0;
}

.region-post-footer{
    text-align: center;
}

#zone-footer-wrapper ul.menu li ul,
#zone-footer-wrapper ul.menu li li{
    display:none; /*hide submenu items in footer */
}

/*content */
/*hide breadcrumb on homepage */
.front .breadcrumb{
    display: none;
}


/*quick search */
.block-locator-block-locator-block{
    background-color: #fff;
    margin: 0 15px;
    padding: 20px 10px;
}

.block-locator-block-locator-block h2{
    font-weight: normal;
}

.block-locator-block-locator-block .tooltip{
    font-weight: normal;
    font-style: italic;
}

.block-locator-block-locator-block .form-item-location{
    background-color: #eaebea;
    width: 260px;
    height: 40px;
}

.block-locator-block-locator-block .form-item-location input{
    border: none;
    background: transparent;
    margin: 0 5px;
    font-size: 13px;

}

.block-locator-block-locator-block input,
.block-locator-block-locator-block select{
    color: #505050;
    font-family: "Lato", arial, verdana;
    font-weight: normal;
}

.block-locator-block-locator-block .form-item-type{
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    border-right: none;
    width: 170px;
    height: 27px;
    background: transparent url('../images/select-arrow.png') no-repeat right;
    font-weight: normal;
    float:left;
    margin:0;
}

.block-locator-block-locator-block select{
    margin: 2px 0 8px 8px;
    background: transparent;
    border: none;
    width: 162px;
}

.block-locator-block-locator-block input:focus, 
.block-locator-block-locator-block input:active, 
.block-locator-block-locator-block select:focus, 
.block-locator-block-locator-block select:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    z-index: 1;
}

.block-locator-block-locator-block input.form-submit{
    float:right;
    padding: 7px 20px !important;
    margin-top: 0;
}


/*self catering block */
.block-block-4{
    background-color: #fff;
    margin: 10px 15px;
    padding: 20px 10px 0 10px;
}

.block-block-4 p{
    margin-bottom: 0;
}

/*main elements*/
.not-front .region-preface-first .region-inner{
    padding: 10px 0 10px 15px;
}

h1#page-title{
    margin-bottom: 10px;
}


/*property listing*/
.field-name-field-price, .block-field-status, .block-field-let-status{
    font-size: 18px;
    line-height: 18px;

    float: left;

}

.field-name-field-price{
    color: #7c8783;

}

.block-field-status,
.block-field-let-status{
    margin-right: 5px;
    color: #721c0f;
    font-weight: normal;
}


/*jcarousel*/
.jcarousel-item img{
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-transition: border-color 1.0s ease;
    -moz-transition: border-color 1.0s ease;
    -o-transition: border-color 1.0s ease;
    transition: border-color 1.0s ease;
}

.jcarousel-item img:hover{
    border: 1px solid #505050;
}

.field-name-field-price-status, .field-name-field-town{
    display: none;
}



/*bookmarks block */
.region-preface-second .region-inner{
    margin-right: 15px;
}

.block-bookmarks{
    margin-top: 34px;
}

ul.bookmarks{
    float: right;
    margin: 0;
}

#shortlist-details{
    float:right;
    font-style: italic;
    margin:10px;
}

ul.bookmarks li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

a.bookmark, ul.bookmarks a.flag{
    color: #fff;
    text-decoration: none;
    background-color: #721c10;
    font-weight: normal;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    display:block;
}

a.bookmark:hover, ul.bookmarks a.flag:hover{
    background-color: #505050;
}



#shortlist-count{
    background: white;
    border: 1px solid #505050;
    margin-left: 6px;
    height: 14px;
    line-height: 14px;
    min-width: 15px;
    padding: 1px 2px;
    text-align: center;
    white-space: nowrap;
    color: #505050;
}


/*sidebar */
.not-front .region-sidebar-second .region-inner{
    padding: 0 15px;
}

.view-floorplans{
    margin-bottom: 30px;
}

.field-name-field-epc{
    float: right;
    font-size: 14px;
}


.block-gmap-link{
    text-align: right;
    margin-bottom: 30px;
}


span.map-link{
    color: #7C8783;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

span.map-link:hover{
    color: #000;
    text-decoration: underline;
}

/*facts block */


.block-facts-facts-block{
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px 10px;
}

.block-facts-facts-block h2.block-title{
    margin-bottom: 20px;
}

.block-facts-facts-block table{
    border: none;
    margin-bottom: 0;
    font-size: 14px;
}

.block-facts-facts-block th{
    font-weight: bold;
}

.block-facts-facts-block th, .block-facts-facts-block td{
    padding: 0 0 5px 0;
    color: #505050;
    border: none;
    background-color: transparent;
}


/*horizontal tabs */
.horizontal-tabs{
    margin-top: 20px !important;
    border: none !important; 
    background-color: #fff;
}

.horizontal-tabs ul.horizontal-tabs-list{
    background-color: #f1eee3;
}

.horizontal-tabs ul.horizontal-tabs-list li {
    background-color: #faf9f4;
}

.horizontal-tabs ul.horizontal-tabs-list li:hover, .horizontal-tabs ul.horizontal-tabs-list li:focus {
    background-color: #FFF;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong {
    color: #505050;
    font-weight: normal;
}

.horizontal-tabs ul.horizontal-tabs-list strong{
    color: #abaaa6;
    font-weight: normal;
}

li.button-map a strong, li.button-map strong{
    color: #721C10 !important;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
    padding: 20px;
    border: 0;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover{
    background-color: #FFF;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover{
    background-color: #EEE;
}


/*panes*/
.field-name-field-overview{
    width: 310px;
    float: left;
    margin-right: 30px;
}

.field-name-field-property-type, .field-name-field-bedrooms, .field-name-field-features, .field-name-field-sleeps, .field-name-field-features-holiday{
    margin-bottom: 20px;
    float: right;
    width: 180px;
    clear: right;
}


/*disclaimer */
.block-3, .block-5, .block-6{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}





/*contact form*/

.node-type-webform input.form-text, .node-type-webform input.email{
    width: 455px;
} 


/*specific*/
#node-webform-56 #webform-component-first-name,
#node-webform-56 #webform-component-email-address{
    float:left;
    margin-top:0;
}

#node-webform-56 #webform-component-last-name,
#node-webform-56 #webform-component-telephone-number{
    float:right;
    margin-top:0;
}



/*arrange viewing */
.block-property-reference{
    font-size: 16px;
}


#webform-component-property{
}

.webform-datepicker select{
    width: 100px;
    margin-right: 2px;
}

#webform-component-preferred-time select{
    width: 100px;
    margin-right: 5px;
}


#node-webform-57 #webform-component-first-name,
#node-webform-57 #webform-component-email-address,
#node-webform-187 #webform-component-first-name,
#node-webform-187 #webform-component-email-address{
    float:left;
    margin-top:0;
}

#node-webform-57 #webform-component-last-name,
#node-webform-57 #webform-component-telephone-number,
#node-webform-187 #webform-component-last-name,
#node-webform-187 #webform-component-telephone-number{
    float:right;
    margin-top:0;
}

#webform-component-preferred-date, #webform-component-holiday-start{
    width: 455px;
    float:left;
    margin-top:0;
}

#webform-component-preferred-time, #webform-component-holiday-end{
    width: 455px;
    float: right;
    margin-top:0;
}


/*send email*/
#node-webform-58 #webform-component-recipient-name,
#node-webform-58 #webform-component-your-name{
    float:left;
    margin-top:0;
}

#node-webform-58 #webform-component-recipient-email,
#node-webform-58 #webform-component-your-email-address{
    float:right;
    margin-top:0;
}



/*Basic page */
.node-type-page h1#page-title, .node-type-page .field-name-field-subtitle{
    margin-bottom: 0;
}

.node-type-page #region-preface-first{
    margin-bottom: 10px;
}

.node-type-page .region-preface-first .region-inner{
    padding: 10px 0 0 15px;
}

.node-type-page .field-name-body img[style*="left"]{
    margin: 5px 10px 5px 0;
}

.node-type-page .field-name-body img[style*="right"]{
    margin: 5px 0 5px 10px;
}


/*404 page */
.node-type-page .view-trio-boxes .views-row-2{
    margin: 20px 25px;
}

.node-type-page .view-trio-boxes .views-row-1{
    margin: 20px 15px 20px 0;
}

.node-type-page .view-trio-boxes .views-row-3{
    margin: 20px 0 20px 15px;
}







/*property search views */
.region-sidebar-first .region-inner{
    padding: 0 15px;
}

.views-exposed-form{
    background-color: #fff;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}

.views-exposed-widget{
    margin: 5px 0;
}

.views-exposed-form select, .views-exposed-form input[type=text]{
    width: 220px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
}

h2.prop-search{
    font-size: 20px;
    color: #721c10;
    margin-bottom: 5px;
}

.views-exposed-form label{
    font-weight: normal;
    color: #505050;
    font-size: 17px;
}

.views-exposed-form .form-item label{
    font-size: 14px;
    color: #505050;
}

.views-exposed-form input[type=checkbox]{
    margin-left: 3px;
}


.webform-container-inline div.exposed-field-wrapper {
    display: inline-block;
}

form#views-exposed-form-property-search-rentals-page > div,
form#views-exposed-form-property-search-page > div,
form#views-exposed-form-holiday-lettings-page > div{
    position:relative;
}

#edit-sort-bef-combine{
    position: absolute;
    top: 0;
    left: 280px;
    width: 200px;
    z-index:10;
}

#edit-items-per-page{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 200px;
    z-index: 10;
}

#edit-new-reset{
}


input#edit-field-price-value, input#edit-field-price-value-1,
input#edit-field-bedrooms-value, input#edit-field-bedrooms-value-1,
input#edit-field-sleeps-value, input#edit-field-sleeps-value-1
{
    width: 105px;
}

#edit-field-price-value-wrapper,
#edit-field-bedrooms-value-wrapper,
#edit-field-sleeps-value-wrapper{
    float: left;
    margin: 0;
    padding: 0.5em 0 0 0;
}

#edit-field-price-value-1-wrapper,
#edit-field-bedrooms-value-1-wrapper,
#edit-field-sleeps-value-1-wrapper{
    float: left;
    margin: 25px 0 0 10px;
    padding: 0.5em 0 0 0;
}



#edit-distance-wrapper{
    display: none;
}

.views-submit-button input{
    float: left;
    margin: 0 0 10px 0 !important;
    width: 220px;
}

.views-submit-button label{
    display: none;
}

/*update buttons */
#edit-update-budget-wrapper,
#edit-update-town-wrapper,
#edit-update-bedrooms-wrapper,
#edit-update-features-wrapper,
#edit-update-sleeps-wrapper{
    display: none;
}

.update-button{
    width: 220px !important;
}



/*results...*/
.view-property-search table,
.view-property-search-rentals table, .view-holiday-lettings table{
    border: none;
}

.view-property-search td, .view-property-search th,
.view-property-search-rentals td, .view-property-search-rentals th,
.view-holiday-lettings td, .view-holiday-lettings th{
    padding: 0 20px 20px 0;
    text-align: center;

}

.view-property-search .field-wrapper,
.view-property-search-rentals .field-wrapper,
.view-holiday-lettings .field-wrapper{
    background-color: #fff;
    padding: 10px;
}


.view-property-search .views-field-title a,
.view-property-search-rentals .views-field-title a,
.view-holiday-lettings .views-field-title a{
    font-weight: normal;
   /* color: #7C8783;
    font-size: 14px;*/
    text-decoration: none;
}

.view-property-search .views-field-field-town,
.view-property-search-rentals .views-field-field-town,
.view-holiday-lettings .views-field-town{
    font-weight: normal;
    /*font-size: 18px;*/
}

.view-property-search .views-field-field-bedrooms,
.view-property-search-rentals .views-field-field-bedrooms,
.view-holiday-lettings .views-field-field-sleeps{
    font-weight: normal;
    /*font-size: 14px;*/
}

.view-property-search .views-field-field-price,
.view-property-search-rentals .views-field-field price{
    font-weight: normal;
    /*color: #7C8783;
    font-size: 20px;*/
}

.view-property-search table,
.view-property-search-rentals table,
.view-holiday-lettings table{
    margin-bottom: 0;
}

.view-property-search tr.row-1.row-first.row-last .field-wrapper,
.view-property-search-rentals tr.row-1.row-first.row-last .field-wrapper{
    width: 180px;
    height: 228px;
}

.view-holiday-lettings tr.row-1.row-first.row-last .field-wrapper{
    width: 180px;
    height: 195px;
}

#status-13{
    /*baileys red - sale agreed*/
    color: #721C10;
}
#status-6, #status-15, #status-11{
    /*baileys green 0- for sale */
    color: #054b36;
}
#status-14{
    /*baileys red - sold */
    color: #721C10;
}

#let-status-41, #let-status-24{
    /*available-winter-let*/
    color: #054b36;
}
#let-status-25, #let-status-26{
    /*let */
    color: #721C10;
}



/*pager */
.view .item-list{
    margin-bottom: 20px;
}

.pager {
    background: transparent;
    border: none;

}

.pager li {
    border: none;
    color: #fff;
    font: bold 12px/1.2 Arial, sans-serif;
    outline: 0;
    font-size: 16px;
    line-height: 20px;
    margin: 0 5px !important ;
}

.pager li.pager-next {
    border: none;
    border-color: #DDD #BBB #999;
    right: 60px;
}

.pager li.pager-last, .pager li.pager-last a, .pager li.pager-last a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pager li.first, .pager li.first a, .pager li.first a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pager li.pager-previous a{
    width: 90px;
}

.pager li a {
    color: #fff;
    text-decoration: none;
    background: #afbdb8;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    border: none;
}


.pager li a:hover {
    background: #505050;
    color: #fff;
}

.pager li.pager-current {
    background: #505050;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/*View Display Mennu */
ul#view-modes {
    border:none;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    float: right;
    margin-bottom: 10px;
}

ul#view-modes li{
    display: inline;
    margin-left: 5px;
}

ul#view-modes li a {
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
        -moz-box-shadow: 3px 3px 5px #888;
        -webkit-box-shadow: 3px 3px 5px #888;
        box-shadow: 3px 3px 5px #888;
    */
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    border: none;
    display:inline-block
}

ul#view-modes li.default{
    display: none;
}

ul#view-modes li a.views-modes-active{
    background-color: #505050;
    border: none;
}

ul#view-modes li a:hover {
    background-color: #505050;
    border: none;
}



/*featured slideshow */
.click-nav{
    cursor: pointer;
}

.page-property-for-sale .region-preface-first .region-inner,
.page-property-to-let .region-preface-first .region-inner,
.page-holiday-lettings .region-preface-first .region-inner{
    padding: 10px 15px;
}

.view-featured-properties-sale, .view-featured-properties-lets, view-featured-properties-holidays{
    margin-top: 10px;
}

#views_slideshow_cycle_main_featured_properties_sale-block,
#views_slideshow_cycle_main_featured_properties_lets-block,
#views_slideshow_cycle_main_featured_properties_holidays-block{
    padding: 0 50px;
    background: #fff;
}

#views_slideshow_controls_text_featured_properties_lets-block,
#views_slideshow_controls_text_featured_properties_sale-block,
#views_slideshow_controls_text_featured_properties_holidays-block{
    position: relative;
}

.page-property-for-sale .views-slideshow-cycle-main-frame-row,
.page-property-to-let .views-slideshow-cycle-main-frame-row,
.page-holiday-lettings .views-slideshow-cycle-main-frame-row

{
    width: 100% !important;
    background-color: #fff;
    padding: 10px 0;
}

.views-slideshow-cycle-main-frame-row .views-field-field-image
{
    float: left;
    margin: 0 30px 0 0;
}

.views-slideshow-cycle-main-frame-row .views-field-title,
.views-slideshow-cycle-main-frame-row .views-field-field-town,
.views-slideshow-cycle-main-frame-row .views-field-field-bedrooms,
.views-slideshow-cycle-main-frame-row .views-field-field-overview,
.views-slideshow-cycle-main-frame-row .views-field-field-price,
.views-slideshow-cycle-main-frame-row .views-field-nid
{
    float:left;
    width: 390px;
}

#views_slideshow_controls_text_featured_properties_sale-block
#views_slideshow_controls_text_featured_properties_lets-block,
#views_slideshow_controls_text_featured_properties_holidays-block{
    position: relative;
}

#views_slideshow_controls_text_previous_featured_properties_sale-block,
#views_slideshow_controls_text_previous_featured_properties_lets-block,
#views_slideshow_controls_text_previous_featured_properties_holidays-block{
    background: url('../images/prev-horizontal.png') no-repeat;
    width: 32px;
    height: 0;
    padding-top: 32px;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 9px;
    top: 95px;
    z-index: 20;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#views_slideshow_controls_text_previous_featured_properties_sale-block:hover,
#views_slideshow_controls_text_previous_featured_properties_lets-block:hover,
#views_slideshow_controls_text_previous_featured_properties_holidays-block:hover{
    opacity: 0.5;
}

#views_slideshow_controls_text_next_featured_properties_sale-block,
#views_slideshow_controls_text_next_featured_properties_lets-block,
#views_slideshow_controls_text_next_featured_properties_holidays-block{
    background: url('../images/next-horizontal.png') no-repeat;
    width: 32px;
    height: 0;
    padding-top: 32px;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 9px;
    top: 95px;
    z-index: 20;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#views_slideshow_controls_text_next_featured_properties_sale-block:hover,
#views_slideshow_controls_text_next_featured_properties_lets-block:hover,
#views_slideshow_controls_text_next_featured_properties_holidays-block:hover{
    opacity: 0.5;
}

#views_slideshow_controls_text_pause_featured_properties_sale-block,
#views_slideshow_controls_text_pause_featured_properties_lets-block,
#views_slideshow_controls_text_pause_featured_properties_holidays-block{
    display: none;
}

.views_slideshow_cycle_main .views-field-title a  {
    font-weight: normal;
    color: #7C8783;
    font-size: 20px;
    text-decoration: none;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.views_slideshow_cycle_main .views-field-title a:hover{
    color: #505050;
}

.views_slideshow_cycle_main .views-field-field-town{
    font-weight: normal;
    color: #505050;
    font-size: 18px;
}

.views_slideshow_cycle_main .views-field-field-bedrooms, .views_slideshow_cycle_main .views-field-field-sleeps{
    font-weight: normal;
    color: #505050;
    font-size: 14px;
}

.views_slideshow_cycle_main .views-field-field-price{
    font-weight: normal;
    color: #7C8783;
    font-size: 20px;
    margin-bottom: 5px;
}

.views_slideshow_cycle_main .views-field-field-overview{
    margin: 5px 0;
}

.views_slideshow_cycle_main ul.bookmarks-slider{
    position: absolute;
    left: 430px;
    bottom: 10px;
    
}

.views_slideshow_cycle_main ul.bookmarks-slider li{
    margin: 0 10px 0 0;
}



/*super control and holiday stuff */
.block-supercontrol{
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px 10px;
}

.field-name-field-supercontrol-id{
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
}




/*superfish nav */



.block-superfish ul#superfish-1{
    margin: 0 15px;
    padding: 0;
    border-left: 2px solid #f1eee3;
    border-right: 2px solid #f1eee3;
}

.block-superfish ul#superfish-1 li{
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    
}

/* safari fix for pages with gmap */
li.menuparent{
    z-index: 0;
}

.block-superfish ul#superfish-1 li.sf-depth-2{
    background: #AFBDB8;
    width:300px;
}

.block-superfish ul#superfish-1 li a{
    border-left: none;
    border-top: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;    
    line-height: 16px;
    display: inline-block;
    width: 151px;
    padding: 12px 0;
    border-right: 2px solid #f1eee3;
    text-align: center;
    
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.block-superfish ul#superfish-1 li ul{
    margin-top: 7px;
}

.block-superfish ul#superfish-1 li.sf-depth-2 a{
    border: none;
    padding: 15px 0 15px 15px;
    display: block;
    border-bottom: 2px solid #fff;
    text-align: left;
}
.block-superfish ul#superfish-1 li.sf-depth-2.last a{
    padding: 15px 0 15px 15px;
}
.block-superfish ul#superfish-1 li.last a{
    border: none;
    
}

.block-superfish ul#superfish-1 li a:hover,
.block-superfish ul#superfish-1 li a.active,
.block-superfish ul#superfish-1 li.active a,
.block-superfish ul#superfish-1 li.active-trail > a
{
    background-color: #505050;
}


