body{
    background-color: #f1eee3;
    font-family: "Lato", arial, verdana;
    color: #505050;
}

h1, h2, h3, h4, h5{
    font-family: "Lato", arial, verdana;
}

a{
    color: #505050;
    text-decoration: none;
}

ul.menu li {
    list-style-position: inside;
}

button, input[type="reset"], input[type="submit"], input[type="button"]{
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: none;
    cursor: pointer;
    font-family: "Lato", arial, verdana;
    font-size: 13px;
    font-weight: bold !important;
    outline: 0;
    overflow: visible;
    text-shadow: none;
    width: auto;
    color: #fff !important;
    text-decoration: none;
    background: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #505050;
}



button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    -moz-box-shadow: #AFBDB8 0 0 7px;
    -webkit-box-shadow: #AFBDB8 0 0 7px;
    box-shadow: #AFBDB8 0 0 7px;
    z-index: 1;
}


/*logo*/
.region-branding-inner{
    margin: 20px 0;
}


/*header menus */
.region-user-first-inner{
    margin: 20px 5px;
}

.region-user-first-inner ul.menu{
    float: right;
}

.region-user-first-inner ul.menu li{
    float: left;
    list-style-type: none;
    list-style-image: none;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;


}

.region-user-first-inner ul.menu li a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
        -moz-box-shadow: 3px 3px 5px #888;
        -webkit-box-shadow: 3px 3px 5px #888;
        box-shadow: 3px 3px 5px #888;
    */
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.region-user-first-inner ul.menu li a:hover{
    background-color: #505050;
}

/* header contact */
.block-block-1 {
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

.block-block-1 a{
    color: #505050;
    text-decoration: none;
}

.block-block-1 a:hover{
    text-decoration: underline;
}



/*main nav */
#zone-menu-wrapper{
    background-color: #afbdb8;
}

#zone-menu .region-menu{
    border-left: 2px solid #f1eee3;
    border-right: 2px solid #f1eee3;
}

nav.navigation ul#main-menu{
    margin: 0;
    padding: 0;
}

nav.navigation ul#main-menu li{
    padding: 0;
    margin: 0;
}

nav.navigation ul#main-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
    padding: 12px 53px;
    border-right: 2px solid #f1eee3;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

nav.navigation ul#main-menu li.last a{
    border: none;
}

nav.navigation ul#main-menu li a:hover,
nav.navigation ul#main-menu li.active a,
nav.navigation ul#main-menu li.active-trail a{
    background-color: #505050;
}



/*trio boxes */
.view-trio-boxes .views-row{
    float: left;
    margin: 20px 15px;
}

.view-trio-boxes .views-row-2{
    margin: 20px 25px;
}

.view-trio-boxes .views-field-field-trio-link a{
    color: #fff;
    text-decoration: none;
    background-color: #afbdb8;
    display: block;
    width: 280px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.view-trio-boxes .views-field-field-trio-link a:hover{
    background-color: #505050;
}

.view-trio-boxes .views-field-field-trio-link a span.trio-link{
    margin: 0 10px;
    background: url('../images/link.png') right center no-repeat;
    display: block;
}

.view-trio-boxes .views-field-field-trio-image img{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.view-trio-boxes .views-field-field-trio-image img:hover{
    opacity: 0.5;
}


/*main content */
.region-content .region-inner.region-content-inner{
    padding: 0 15px;
}

/*page title and subtitle */
h1#page-title{

    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
}

.front h1#page-title{
    margin-bottom: 0;
}

.field-name-field-subtitle{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
}


/*footer */
#zone-footer-wrapper{
    background-color: #424c48;
    border-top: 2px solid #721c0f;
}

#zone-footer{
    color: #fff;
}

#zone-footer a{
    color: #fff;
    text-decoration: none;
}

#zone-footer a:hover{
    text-decoration: underline;
}

#zone-footer ul.menu{
    margin: 20px 0;
}

.region-post-footer{
    text-align: center;
}


/*content */
/*hide breadcrumb on homepage */
.front .breadcrumb{
    display: none;
}


/*quick search */
.block-locator-block-locator-block{
    background-color: #fff;
    margin: 0 15px;
    padding: 20px 10px;
}

.block-locator-block-locator-block h2{
    font-weight: 200;
}

.block-locator-block-locator-block .tooltip{
    font-weight: 200;
    font-style: italic;
}

.block-locator-block-locator-block .form-item-location{
    background-color: #eaebea;
    width: 260px;
    height: 40px;
}

.block-locator-block-locator-block .form-item-location input{
    border: none;
    background: transparent;
    margin: 8px;

}

.block-locator-block-locator-block input,
.block-locator-block-locator-block select{
    color: #505050;
    font-family: "Lato", arial, verdana;
    font-weight: 200;
}

.block-locator-block-locator-block .form-item-type{
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    border-right: none;
    width: 170px;
    height: 27px;
    background: transparent url('../images/select-arrow.png') no-repeat right;
    font-weight: 200;
    float:left;
    margin:0;
}

.block-locator-block-locator-block select{
    margin: 2px 0 8px 8px;
    background: transparent;
    border: none;
    width: 162px;
}

.block-locator-block-locator-block input:focus, 
.block-locator-block-locator-block input:active, 
.block-locator-block-locator-block select:focus, 
.block-locator-block-locator-block select:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    z-index: 1;
}

.block-locator-block-locator-block input.form-submit{
    float:right;
    padding: 7px 20px !important;
    margin-top: 0;
}








/*property listing*/
/*jcarousel*/
.jcarousel-item img{
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-transition: border-color 1.0s ease;
    -moz-transition: border-color 1.0s ease;
    -o-transition: border-color 1.0s ease;
    transition: border-color 1.0s ease;
}

.jcarousel-item img:hover{
    border: 1px solid #505050;
}


/*bookmarks block */
ul.bookmarks{
    float: right;
    margin: 0;
}

#shortlist-details{
    float:right;
    font-style: italic;
    margin-right: 10px;
}

ul.bookmarks li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

a.bookmark, ul.bookmarks a.flag{
    color: #fff;
    text-decoration: none;
    background-color: #721c10;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    display:block;
}

a.bookmark:hover, ul.bookmarks a.flag:hover{
    background-color: #505050;
}



#shortlist-count{
    background: white;
    border: 1px solid #505050;
    margin-left: 6px;
    height: 14px;
    line-height: 14px;
    min-width: 15px;
    padding: 1px 2px;
    text-align: center;
    white-space: nowrap;
    color: #505050;
}